.contenedor{
    width:1280px;
    height:800px;
    background-color: #FFFFFF;
    margin: auto;
}
header{
    width:1280px;
    height:150px;
    background-color: #1BDAF1;
}
nav{
    width:1280px;
    height:95px;
    background-color: #D9D9D9;
    margin-top: -20px;
}
main{
    width: 427px;
    height: 278px;
    background-color: #BAFBBA;
    margin-top: -16px;
}
.anuncio2{
    width: 427px;
    height: 278px;
    background-color: #BAFBBA;
    margin-left: 427px; 
    margin-top: -294px;
}
.anuncio3{
    width: 426px;
    height: 278px;
    background-color: #BAFBBA;
    margin-left: 854px; 
    margin-top: -294px;
}
.anuncio4{
    width: 640px;
    height: 277px;
    background-color: #BAFBBA;
    margin-bottom: -287px;
    margin-top: -16px;
}
.anuncio5{
    width: 640px;
    height: 277px;
    background-color: #BAFBBA;
    margin-left: 640px;
    margin-top: -293px;
}
.fa-facebook{
    font-size: 25px;
    color: #1877f2;
}
.fa-whatsapp{
    font-size: 25px;
    color: #075e54;
}