@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');
body{
    background-color: bisque;
}
.contenedor{
    background-color: white;
    margin: auto;
}
.fuente1{
    font-family: 'Koulen', cursive;
}
.fuente2{
    font-family: 'Macondo', cursive;
}
.fuente3{
    font-style: italic;
}
.fuente4{
    font-style: oblique;
}
.fuente5{
    font-style: normal;
}
.fuente6{
    font-weight: bold;
}
.fuente7{
    font-weight: bolder;
}
.fuente8{
    font-style: small;
}
.fuente9{
    font-variant: small-caps;
}
.fuente10{
    font-size: 25px;
}
.fuente11{
    font-variant: normal;
}
@font-face{
    font-family: "Lato1";
    src: url(/fonts/Lato-Black.ttf);
}
@font-face{
    font-family: "Lato2";
    src: url(/fonts/Lato-BlackItalic.ttf);
}
@font-face{
    font-family: "Batmfo";
    src: url(/fonts/batmfo__.ttf);
}
@font-face{
    font-family: "Transformers";
    src: url(/fonts/Transformers\ Movie.ttf);
}
.fuente12{
    font-family: "Lato1";
}
.fuente13{
    font-family: "Lato2";
}
.fuente14{
    font-family: "Batmfo";
}
.fuente15{
    font-family: "Transformers";
}